<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>信息变更记录</title>
    <link rel="stylesheet" href="../../js/lib/weuijs/style/weuijs.css">
    <style type="text/css">
    body {
        background-color: #f8f8f8;
    }
    
    .weui-cell__bd {
        position: relative;
    }
    </style>
</head>

<body>
    <div class="page page_show">
        <form method="post" action="" id="form">
            <div class="weui-cells weui-cells_form" id="cells-form">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <div class="weui-uploader">
                            <div class="weui-uploader__hd">
                                <p class="weui-uploader__title">照片</p>
                            </div>
                            <div class="weui-uploader__bd">
                                <ul class="weui-uploader__files">
                                    <!-- <li class="weui-uploader__file" style="background-image:url(./images/pic_160.png)"></li> -->
                                </ul>
                                <div id="uploader-box" class="weui-uploader__input-box" style="display: none;">
                                    <!-- <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" multiple> -->
                                    <input id="copy-type-btn" type="button" class="weui-uploader__input">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="weui-btn-area btn-area">
                <a href="javascript:" class="weui-btn weui-btn_default" onclick="window.history.back()">返回</a>
                <a id="submit-btn" class="weui-btn weui-btn_primary" href="javascript:" onclick="submitChange()" style="display: none;">提交</a>
            </div>
        </form>
    </div>
    <div id="page2" class="page">
        <div class="weui-cells__title" style="margin: 1em auto; text-align: center; font-size: 18px; color: #000;">选择照片类型</div>
        <div id="photo-cells" class="weui-cells">
        </div>
        <div class="weui-btn-area">
            <a href="javascript:" class="weui-btn weui-btn_default" onclick="weui.page.back()">返回</a>
        </div>
    </div>
    <script type="text/javascript" src="../../js/jweixin-1.0.0.js"></script>
    <script type="text/javascript" src="../../js/lib/zepto.js"></script>
    <script type="text/javascript" src="../../js/lib/weuijs/weuijs.js"></script>
    <script type="text/javascript" src="../../js/wx.js"></script>
    <script type="text/javascript" src="district.js"></script>
    <script id="input-template" type="text/html">
        <div class="weui-cell weui-cell_access">
            <div class="weui-cell__hd">
                <label class="weui-label">
                    {{$data.column_desc}}
                </label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="请输入{{$data.column_desc}}" name="{{$data.alias_name}}" {{if $data.required=='1' }}required{{/if}} {{if $data.readonly=='1' }}readonly{{/if}}>
            </div>
            {{if $data.readonly!='1'}}
            <div class="weui-cell__ft">
            </div>
            {{/if}}
        </div>
    </script>
    <script id="select2-template" type="text/html">
        <div class="weui-cell weui-cell_access">
            <div class="weui-cell__hd">
                <label class="weui-label">
                    {{$data.column_desc}}
                </label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="请选择{{$data.column_desc}}" id="{{$data.id}}" name="{{$data.options.select2Name}}" {{if $data.required=='1' }}required{{/if}} readonly>
                <input type="hidden" name="{{$data.alias_name}}">
            </div>
            <div class="weui-cell__ft">
            </div>
        </div>
    </script>
    <script id="fields-template" type="text/html">
        <div class="weui-cells weui-cells_form">
            {{each rows as row}} {{include row.component+'-template' row}} {{/each}}
        </div>
    </script>
    <script>
    window.basedir = '/app';
    var query = $$.parseQueryString();
    var viewUrl = '/action/ms/changelog/view';
    var createUrl = '/action/ms/changelog/update';

    if (query.operateType == 'update') {
        $('#submit-btn,#uploader-box').show();
    }

    wxConfig({
        jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage', 'onMenuShareQQ', 'onMenuShareWeibo', 'onMenuShareQZone', 'startRecord', 'stopRecord', 'onVoiceRecordEnd', 'playVoice', 'pauseVoice', 'stopVoice', 'onVoicePlayEnd', 'uploadVoice', 'downloadVoice', 'chooseImage', 'previewImage', 'uploadImage', 'downloadImage', 'translateVoice', 'getNetworkType', 'openLocation', 'getLocation', 'hideOptionMenu', 'showOptionMenu', 'hideMenuItems', 'showMenuItems', 'hideAllNonBaseMenuItem', 'showAllNonBaseMenuItem', 'closeWindow', 'scanQRCode', 'chooseWXPay', 'openProductSpecificView', 'addCard', 'chooseCard', 'openCard']
    });

    var uploader = weui.uploader('.weui-uploader', {
        deletable: query.operateType == 'update' ? true : false
    });
    var uploaderData = [];

    function initCopyType(data) {
        $('#copy-type-btn').on('click', function() {
            var select2 = weui.select2({
                data: data,
                onClickItem: function(row) {
                    wxChooseImage({
                        success: function(res) {
                            var localIds = res.localIds;
                            var id = uploader.appendFile(localIds[0]);
                            wxUploadImage({
                                localId: localIds[0],
                                success: function(res) {
                                    var serverId = res.serverId;
                                    uploader.clearFileStatus(id);
                                    uploaderData[id] = {
                                        ei_type: row[select2.options.valueField],
                                        localid: localIds[0],
                                        serverid: serverId
                                    }
                                }
                            });
                        }
                    });
                }
            })
        });
    }

    function showChooseCopyType() {
        weui.page.show('#page2');
    }


    function submitChange() {
        if (!weui.form.validate('#form')) return;

        var data = $.extend({}, query, {
            update: [],
            images: []
        });
        $('#form').find('input[name],select[name]').forEach(function(item) {
            var target = $(item);
            var value = $(target).val();
            if ($(target).attr('name') == 'license_no') {
                value = value.toUpperCase();
            }

            data.update.push({
                'alias_name': target.attr('name'),
                'original_value': target.attr('data-val'),
                'new_value': value
            });
        });

        $('.weui-uploader').find('.weui-uploader__file').forEach(function(item) {
            var id = parseInt($(item).attr('data-id'));
            data.images.push(uploaderData[id]);
        });

        $$.request(createUrl, data, {
            success: function(data) {
                if (data.errcode == 0) {
                    weui.toast('操作成功', {
                        callback: function() {
                            window.history.go(-1);
                        }
                    });
                } else {
                    weui.alert(data.errmsg);
                }
            }
        });
    }

    function getCascadeLabel(items, value) {
        var label = [];

        function getLabel(items, value, level) {
            var index = 0,
                len = items.length;
            for (; index < len; ++index) {
                if (value[level] == items[index].value) break;
            }

            if (index < len) {
                label.push(items[index].label);
                if (items[index].children) {
                    getLabel(items[index].children, value, level + 1);
                }
            }
        }

        getLabel(items, value, 0);

        return label.join(' ');
    }

    function loadDetail(data) {
        if (!data) return;
        var update = data.update;
        var images = data.images;

        var $form = $('#form');
        for (var i = 0; i < update.length; i++) {
            var name = update[i].alias_name;
            var original_value = update[i].original_value;
            var new_value = update[i].new_value;
            $form.find('input[name="' + name + '"]').attr('data-val', original_value).val(new_value);
            $form.find('select[name="' + name + '"]').attr('data-val', original_value).val(new_value);
        }

        for (var i = 0; i < images.length; i++) {
            var id = uploader.appendFile(images[i].file_url);
            uploader.clearFileStatus(id);
            uploaderData[id] = images[i];
        }
    }

    function initSelect2(row) {
        var id = row.id;
        var options = row.options || {};

        $('#' + id).on('click', function() {
            var select2 = weui.select2($.extend(options, {
                loader: function(param, success, error) {
                    console.log(this, arguments);
                    $$.request(options.url, param, {
                        success: function(data) {
                            if (data.errcode == 0) {
                                success(data[options.output || 'rows']);
                            } else {
                                weui.alert(data.errmsg, function() {
                                    error();
                                });
                            }
                        }
                    });
                },
                onClickItem: function(row) {
                    console.log(this, arguments);
                    $('#' + id).val(row[select2.options.textField]).next().val(row[select2.options.valueField]);
                }
            }));
            select2.search({
                q: $(this).val()
            });
        });
    }

    weui.form.checkIfBlur('#form');
    $(function() {
        //影印件类型
        $$.request('/action/ms/parameter/list', {
            copy_type: '1'
        }, {
            success: function(data) {
                initCopyType(data.copy_type);
            }
        });

        $$.request(viewUrl, query, {
            success: function(data) {
                if (data.errcode == 0) {
                    //解析配置项
                    for (var i = 0; i < data.rows.length; i++) {
                        var row = data.rows[i];
                        if (row.params) {
                            row.options = JSON.parse('{' + row.params + '}');
                        }

                        if(query.operateType == 'view') {
                            row.readonly = '1';
                        }
                    }
                    var html = $.template('fields-template', data);
                    $('#cells-form').prepend(html);

                    //组件初始化
                    for (var i = 0; i < data.rows.length; i++) {
                        var row = data.rows[i];
                        if (row.component == 'select2') {
                            if(query.operateType == 'update') {
                                initSelect2(row);
                            }
                        }
                    }
                    loadDetail(data);
                } else {
                    weui.alert(data.errmsg);
                }
            }
        });
    });
    </script>
</body>

</html>
